<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ title }}</h5>
        <div class="ibox-tools">
            <ng-content select=".panel-tools"></ng-content>

            <panel-box-btn [hidden]="!showCollapse" (btnClick)="collapse()" icon="fa-chevron-up"></panel-box-btn>
            <panel-box-btn [hidden]="!showClose" (btnClick)="close()" icon="fa-times"></panel-box-btn>
            <!--<a class="close-link" [hidden]="!showClose">
                <i class="fa fa-times"></i>
            </a>-->
        </div>
    </div>
    <div class="ibox-content">
        <ng-content select=".panel-content"></ng-content>
        <!--<ng-content></ng-content>-->
    </div>
</div>