<configuration>
	<connectionStrings>
		<add name="ContactsDB" connectionString="Server=.;Database=ContactsDB;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
